<!DOCTYPE html>
	<html>
	{% include head.html %}
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
							<li><a href="/codingexercises">Coding Exercises</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:hr100.zhao@gmail.com">email</a></li>
	        		<li><a href="https://github.com/haoranzz">github.com/haoranzz</a></li>
							<li><a href="https://www.linkedin.com/in/haoran-zhao-197975a9/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
